*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F6F8FA;
}

/**************HEADER**************/

header {
  height: 70px;
  background-color: white;
  margin-bottom: 30px;
}

header div img {
  vertical-align: middle;
  width: 50px;
  margin:10px 15px;
}

header div span {
  vertical-align: middle;
  font-size: 2rem;

/**************HEADER**************/  

}

/**************MIDDLE************/

.container {
  max-width: 680px;
  margin: 0 auto;
  background-color: white ;
  border-radius: 4px;
}

/************buttons************/

main div.buttons {
  padding: 10px 35px;
  
}

button {
  padding: 9px 10px;
  border-radius: 4px;
  color: white;
  background-color: #47ACEB ;
  border: none;
}

button.gray {
  color: darkgray;
  background-color: #FFFFFF ;
  border: solid 1px darkgray;
}

/************buttons************/