*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F6F8FA;
  color: #474C4A;
}

section {
  margin-bottom: 30px;
}

/**************HEADER**************/

header {
  height: 70px;
  background-color: white;
  margin-bottom: 30px;
}

header div img {
  vertical-align: middle;
  width: 50px;
  margin:10px 15px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: black;

/**************HEADER**************/  

}

/**************MAIN************/
main {
  margin-bottom: 30px;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  background-color: white ;
  border-radius: 4px;
}

/************buttons************/

main section.buttons {
  padding: 10px 35px;
  
}

button {
  padding: 9px 10px;
  border-radius: 4px;
  color: white;
  background-color: #47ACEB ;
  border: none;
  margin-top: 10px;
}

button.gray {
  color: darkgray;
  background-color: #FFFFFF ;
  border: solid 1px darkgray;
}

/************buttons************/

/************list************/

ul {
  list-style: none;
  padding-left: 50px;
  margin: 10px 0;
  padding-bottom: 5px;
}

ul.annidato {
  display: inline-block;
  padding: 0;
}

ul.annidato span {
  padding: 1px 3px;
  border: solid 1px;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-right: 5px;
  
}

li {
  margin: 30px 0;
}

/************list************/

/************badge************/

ul li span.badge {
  font-size: 0.7rem;
  padding: 5px 8px;
  border-radius: 20px;
  color: white;
  background-color: #47ACEB ;
  border: none;
  
}


/**************MAIN************/

/**************UTILITIES************/

.check {
  color: #6CBFAA;

}

.cross {
  color: #AC7C85;

}

ul li span.badge.goals {
  background-color: #9E73E3 ;  
}
ul li span.badge.recruiting{
  background-color: #64C2A9 ;  
}
ul li span.badge.mobile{
  background-color: #FC9F2A ;  
}
ul li span.badge.website{
  background-color: #D665A7 ;
}
ul li span.badge.sales{
  background-color: #AFCB1C ;  
}
